<launch>
   
   <node pkg="rflysim_sensor_rospkg" type="image_receive_newprotocol.py" name="gray_receive_newprotocol_1" output="screen" launch-prefix="gnome-terminal --tab --">
     <param name="port" value="9997" />
     <!-- IP地址为NX/接收端的局域网IP -->
     <param name="IP" value="192.168.10.116" />
     <param name="pub_topic_name" value="/gray_image_topic_1" />
     <param name="type" value="gray"/>
     <param name="frame_id" value="camera_infra1_optical_frame"/>
     <param name="encoding" value="mono8"/>
   </node>

   <node pkg="rflysim_sensor_rospkg" type="image_receive_newprotocol.py" name="gray_receive_newprotocol_2" output="screen" launch-prefix="gnome-terminal --tab --">
     <param name="port" value="9996" />
     <!-- IP地址为NX/接收端的局域网IP -->
     <param name="IP" value="192.168.10.116" />
     <param name="pub_topic_name" value="/gray_image_topic_2" />
     <param name="type" value="gray"/>
     <param name="frame_id" value="camera_infra2_optical_frame"/>
     <param name="encoding" value="mono8"/>
   </node>
     
</launch>
